body {
  font-family: baskerville;
  margin: 0 auto;
  max-width: 80%;
  background-color: #7E699D;

}

#container {
  background-image: url("images/blockchain-background.png");
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 95%;
  min-height: 800px;
  margin: 0 auto;
}

/* header {
  color: spacegray;
} */

h1 {
  color: magenta;
  text-align: center;
  justify-content: flex-end;
  padding-top: 5%;
}

p {
  color: white;
  padding: 3%;
}

form {
  text-align: center;
}

.img > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  /* height: 400px; */
  padding-top: 5%;
}

.button {
  color: green;
  background-color: black;
  display: in-line;
  width: 20%;
  border: white;
  /* background-color: #4CAF50; */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#button {
  color: orange;
  background-color: black;
}

main {
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid gold;
}

.search {
  border: 1px solid red;
}
/*
.img {
  center;
} */
