body {
  font-family: baskerville;
  margin: 0 auto;
  max-width: 90%;
  background-color: #7E699D;

}

#container {
  background-image: url("images/blockchain-background.png");
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  
}


body {
  background-color: #A0AFE0;
}

/* header {
  color: spacegray;
} */

h1 {
  color: magenta;
  text-align: center;
  justify-content: flex-end;
}

p {
  padding: 3%;
}

form {
  text-align: center;
}

/* img {
  text-align: center;
} */

.button {
  color: green;
}

#button {
  color: orange;
}

main {
  margin: 20px 20px;
  padding: 5px;
}
